# swagger host FQDN or IP
SWAGGER_HOST=127.0.0.1:5000

# postgres configuration
POSTGRES_HOST=database
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=uiservice
PGDATA=/var/lib/postgresql/data/pgdata
POSTGRES_DB=postgres

# COmanage LDAP configuration
LDAP_HOST=localhost
LDAP_USER=user
LDAP_PASSWORD=password
LDAP_SEARCH_BASE=searchbase

# turn off CILogon validation?
SKIP_CILOGON_VALIDATION=true
# load mock data, LDAP or none
USER_DATA=mock
