# swagger host FQDN or IP
SWAGGER_HOST=127.0.0.1:5000

# postgres configuration
POSTGRES_HOST=database
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=uiservice
PGDATA=/var/lib/postgresql/data/pgdata
POSTGRES_DB=postgres

# COmanage LDAP configuration
LDAP_HOST=localhost
LDAP_USER=user
LDAP_PASSWORD=password
LDAP_SEARCH_BASE=searchbase

# App configuration parameters

# Token validation parameters
UIS_CILOGON_CERTS="https://cilogon.org/oauth2/certs"
UIS_CILOGON_AUDIENCE="cilogon:/client_id/1234567890"
# Uses HH:MM:SS (less than 24 hours)
UIS_CILOGON_KEY_REFRESH="00:10:00"

# turn off CILogon validation?
UIS_SKIP_CILOGON_VALIDATION=true
# load mock data, LDAP or none
UIS_USER_DATA=mock
# Minimal number of characters that must be specified to search for a person
UIS_SEARCH_MIN_CHAR_COUNT=3
